.commentsForm {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  margin-left: 0.3rem;
}

.single.commentsForm {
  margin: 0;
}

.textarea {
  display: block;
  width: 98%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1rem;
  font-family: var(--type-first);
  resize: none;
  border: 1px solid rgb(240, 236, 236);
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: rgb(223, 219, 210);
  transition: 0.2s;
}

.textarea:focus,
.textarea:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}

.commentBtn {
  background: white;
  border: none;
  cursor: pointer;
  color: #333;
}

.commentBtn:focus,
.commentBtn:hover {
  outline: none;
}

.commentBtn:focus svg path,
.commentBtn:hover svg path {
  fill: #fb1;
}

.commentBtn:focus svg g,
.commentBtn:hover svg g {
  animation: latir 0.8s infinite;
}

@keyframes latir {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
